In [22]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math
from scipy import stats as st

In [23]:
# Carga de archivos de DataFrame

print("#############################################")
print("#                VEHICLES-US                #")
print("#############################################")

print("\n╔════════════════════════════════╗")  
print("║   ANÁLISIS DE CIENCIA DE DATOS ║")  
print("║         DESARROLLADO POR       ║")  
print("║    Mauricio Zárate Romero      ║")  
print("╚════════════════════════════════╝") 

# car_data = df_cd

df_cd_copy = pd.read_csv('vehicles_us_limpio.csv')

# Copia de seguridad para no modificar los DataFrames originales.

df_cd = df_cd_copy.copy()

#############################################
#                VEHICLES-US                #
#############################################

╔════════════════════════════════╗
║   ANÁLISIS DE CIENCIA DE DATOS ║
║         DESARROLLADO POR       ║
║    Mauricio Zárate Romero      ║
╚════════════════════════════════╝

In [24]:
print("\n╔══════════════════════════════════════════════════╗")
print("║                'vehicles_us.csv'                 ║")
print("║                  'Información'                   ║")
print("╚══════════════════════════════════════════════════╝")
print("\n" + "=" * 50)
df_cd.info()

╔══════════════════════════════════════════════════╗
║                'vehicles_us.csv'                 ║
║                  'Información'                   ║
╚══════════════════════════════════════════════════╝

==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35622 entries, 0 to 35621
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         35622 non-null  int64
 1   model_year    35622 non-null  int64
 2   model         35622 non-null  object
 3   cylinders     35622 non-null  int64
 4   fuel          35622 non-null  object
 5   odometer      35622 non-null  float64
 6   transmission  35622 non-null  object
 7   type          35622 non-null  object
 8   paint_color   35622 non-null  object
 9   is_4wd        35622 non-null  int64
 10  date_posted   35622 non-null  object
 11  days_listed   35622 non-null  int64
 12  condition     35622 non-null  object
dtypes: float64(1), int64(5), object(7)
memory usage: 3.5+ MB

### odometer

In [25]:
print(df_cd['odometer'].describe())

print(f'\nvalores nulos = {df_cd["odometer"].isna().sum()}')

df_cd = df_cd.dropna(subset='odometer')

print(f'\nvalores nulos despues de limpiarlos = {df_cd["odometer"].isna().sum()}')

print(f'\nEl tipo de columna es correcto = {df_cd['odometer'].dtype}')

odometer_cero = df_cd[df_cd['odometer'] == 0].value_counts()

# Imprimir el DataFrame filtrado
print(odometer_cero)

print(f"\nCantidad de vehículos con odómetro en 0: {len(odometer_cero)}")

df_cd['odometer'] = df_cd['odometer'].astype(int)
print(f'\nTipo de dato se cambia de float a int = {df_cd["odometer"].dtype}')

count     35622.000000
mean     117108.697097
std       64411.726935
min           1.000000
25%       72705.500000
50%      114473.500000
75%      156000.000000
max      990000.000000
Name: odometer, dtype: float64

valores nulos = 0

valores nulos despues de limpiarlos = 0

El tipo de columna es correcto = float64
Series([], Name: count, dtype: int64)

Cantidad de vehículos con odómetro en 0: 0

Tipo de dato se cambia de float a int = int64

se cambia la columna de date_posted a pandas.datetime

In [26]:
df_cd['date_posted'] = pd.to_datetime(df_cd['date_posted'])

In [27]:
df_cd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35622 entries, 0 to 35621
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         35622 non-null  int64
 1   model_year    35622 non-null  int64
 2   model         35622 non-null  object
 3   cylinders     35622 non-null  int64
 4   fuel          35622 non-null  object
 5   odometer      35622 non-null  int64
 6   transmission  35622 non-null  object
 7   type          35622 non-null  object
 8   paint_color   35622 non-null  object
 9   is_4wd        35622 non-null  int64
 10  date_posted   35622 non-null  datetime64[ns]
 11  days_listed   35622 non-null  int64
 12  condition     35622 non-null  object
dtypes: datetime64[ns](1), int64(6), object(6)
memory usage: 3.5+ MB

In [28]:
df_cd.head()

,price,model_year,model,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,condition
0,9400,2011,bmw x5,6,gas,145000,automatic,SUV,Unknown,1,2018-06-23,19,fair
1,5500,2013,hyundai sonata,4,gas,110000,automatic,sedan,red,0,2019-02-07,79,fair
2,14900,2017,chrysler 200,4,gas,80903,automatic,sedan,black,0,2019-04-02,28,good
3,14990,2014,chrysler 300,6,gas,57954,automatic,sedan,black,1,2018-06-20,15,good
4,12990,2015,toyota camry,4,gas,79212,automatic,sedan,white,0,2018-12-27,73,good

In [29]:
print(df_cd.isna().sum())

price           0
model_year      0
model           0
cylinders       0
fuel            0
odometer        0
transmission    0
type            0
paint_color     0
is_4wd          0
date_posted     0
days_listed     0
condition       0
dtype: int64

#### Se crea una nueva columna para poder analizar la condicion del auto con respecto a facores numéricos

In [30]:
condition_map = {
    'new': 5,
    'like new': 4,
    'excellent': 3,
    'good': 2,
    'fair': 1,
    'salvage': 0
}
df_cd['condition_numeric'] = df_cd['condition'].map(condition_map)

# Se guarda el DF

In [31]:
df_cd.to_csv('vehicles_us_limpio_V2.csv', index=False)